.review {padding-bottom: 5px;}
.panel-body.review-container {padding-top: 0;}
.review-header {margin-bottom: 10px; border-radius: 0px;}
.reviewAuthor {margin: 0px 5px;}
.reviewTimestamp {color: #ccc;}