/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
  padding-bottom: 20px;
}

.jumbotron{
	background: url('../img/banner.jpg') no-repeat center -350px;
	padding: 0;
}

.layer{
	background-color: rgba(238, 238, 238, 0.8);
    width: 100%;
    height: 100%;
	padding: 48px 0;
}
	